* {
    Margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
}

#name {
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    width: 200px;
    text-align: center;
    height: 40px;
    position: fixed;
    padding: 30px;
}

ul {
    margin-left: 700px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a {
    display: block;
    background: white;
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px;
}

ul li a:hover {
    color: red;
}

body {
    background-color: lightgray;
    margin-top: 100px;
}

.container {
    background-color: #ffffff;
    overflow: auto;
    margin-top: 130px;
    margin-left: 100px;
    padding-bottom: 100px;
    width: 960px;
    height: 500px:
}

#aboutme {
    color: #4aaaa5;
    background-color: white;
    width: 950px;
    height: 50px;
    padding-top: 15px;
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 5px solid #d4dede;
}

.pic {
    margin-top: 10px;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}

.clearfix {
    overflow: auto;
    padding-top: 50px:
}

p {
    margin-top: 15px;
    padding-left: 10px;
    color: #92a29b;
    margin-left: 0px;
    margin-right: 20px;
    text-justify: inter-word;
    margin-bottom: 10px;
    text-indent: 10px;
    line-height: 1.8em;
    text-align: justify;
    text-justify: auto;
}

#footer {
    clear: both;
    background-color: #666666;
    text-align: center;
    color: #cccccc;
    height: 100px;
    margin-top: 90px;
    border-top: 8px solid #4aaaa5;
    clear: both;
    padding-top: 70px;
}

html {
    background-color: lightgray
}